.form-message{
    display: none;
}

/*styling form component*/
.form-container{
    margin: 0rem;
}

.form-element{
    width: 50rem;
    margin: 4.5rem;
    background-color:#D0D0D0;
    box-shadow: 5px 5px 10px 10px #69727C;
}

.form-element h4, .form-element p{
    text-align: center;
    padding-top: 2rem;
    font-size: 3rem;
}

.form-element p{
    color: red;
    font-size: 2rem;
}

.form-element input, .form-element textarea{
    width: 80%;
    height: 3.5rem;
    margin-top: 2rem;
    padding: 0.8rem;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    border: 1px solid grey;
    border-radius: 3px;
}

.form-element textarea{
    height: 10rem;
    color: gray;
}

.fa-envelope-open-text{
    padding-right: 1rem;
}

.fa-envelope-open-text:hover{
    transform: scale(1.1);
}

.hide-message{
    display: none;
}

input[type="submit"]{
    width: 20%;
    margin-bottom: 2rem;
    padding: 8px 25px;
}

/*Contact items*/
.contact-forms{
    width: 20rem;
    height: 42rem;
    background-color:#D0D0D0;
    box-shadow: 5px 5px 10px 10px #69727C;
}

.contact-item{
    width: 85%;
    height: 30%;
    margin: 0.5rem;
    font-size: 1.2rem;
    color: tomato;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-item a{
    text-decoration: none;
}

.contact-item a:visited{
    color: tomato;
}

.fa-phone-alt, .fa-envelope, .fa-map-marker-alt{
    font-size: 2.5rem;
    color: turquoise;
}

.contact-item:hover{
    box-shadow: 1px 1px 3px 3px inset #8D9C9F ;
    filter: brightness(0.95);
}


/*animation for contacts*/
.contact-forms{
    -webkit-animation-name: slide-in-right;
    animation-name: slide-in-right;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slide-in-right{
    0% {
        opacity: 0;
        -webkit-transform: translate3d(200%, 0, 0);
        transform: translate3d(200%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes slide-in-right{
    0% {
        opacity: 0;
        -webkit-transform: translate3d(200%, 0, 0);
        transform: translate3d(200%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


/*media queries*/
@media only screen and (max-width: 992px) {
    .go-to-top-button{
        margin-top: 5rem;
    }

    input[type="submit"]{
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    input[type="submit"]{
        padding-left: 1.5rem;
    }
}