/*styling the container*/
.title{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.projects-container{
    width: 100%;
    margin: 5rem 0rem;
    display: flex;
    justify-content: space-around;
}

/*card item*/
.card-item{
    width: 30rem;
    border-radius: 0.5rem;
    background-color: rgba(225, 219, 219, 0.5);
    box-shadow: 5px 5px 10px 10px #E9E7E6;
}

.card-item:hover{
    transform: scale(1.01);
    box-shadow: 10px 10px 15px 15px #E9E7E6;
    filter: grayscale(50%);
}

.card img{
    align-self: center;
    width: 30rem;
    height: 30rem;
}

#calculator img{
    width: 24rem;
}

/*animation for projects*/
.translate-top{
    -webkit-animation-name: slide-in-top;
    animation-name: slide-in-top;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slide-in-top{
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes slide-in-top{
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.translate-bottom{
    -webkit-animation-name: slide-in-bottom;
    animation-name: slide-in-bottom;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slide-in-bottom{
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes slide-in-bottom{
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/*open modal button*/
.open-modal:hover{
    transform: scale(1.05)!important;
    background-color: grey;
    color: turquoise;
}

.open-modal:focus{
    background-color: grey;
    color: turquoise;
    border: none;
}

/*modals*/
.modal {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content{
    width: 50%;
    height: 55rem;
    margin: auto;
    padding: 20px;
    background-color: #fefefe;
    border: 1px solid #888;
    display: flex;
}

.modal h3{
    color: turquoise;
    border-bottom: 1px solid turquoise;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.modal img{
    width: 100%;
    height: 40rem;
}

.modal #calculator img, 
.modal #weather-app img,
.modal #booklist img{
    width: 50%;
    margin: auto;
}

.modal img{
    box-shadow: 5px 5px 7px 7px #E9E7E6;
}

.buttons-container{
    align-self: center;
}

.buttons-container button{
    margin: 2rem;
}

.link-to-git:hover{
    text-decoration: none;
}

.link-to-git:visited{
    color: turquoise;
}

.go-to-top-container{
    display: flex;
    justify-content: center;
}

/*interests*/
.interests-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.interests-title{
    margin-bottom: 3rem;
}

.interests{
    display: flex;
}

.interests div{
    font-size: 5rem;
    color: turquoise;
    margin: 1rem;
    padding: 2rem;
    background-color: rgba(150, 147, 147, 0.2);
    border-radius: 3px;
    box-shadow: 3px 3px 8px 8px #E9E7E6;
}

.interests div:hover{
    transform: scale(1.05);
}


/*media queries*/
@media only screen and (max-width: 768px) {
    .projects-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    
    .card-item{
        margin-bottom: 2rem;
    }

    .interests div{
        font-size: 4rem;
    }

    .modal-content{
        width: 90%;
        height: 26rem;
    }

    .modal img{
        width: 100%;
        height: 18rem;
    }

    .modal #calculator img, 
    .modal #weather-app img,
    .modal #booklist img
    {
        width: 60%;
        margin: auto;
    }

    .see-project-button, .close-modal-button{
        width: 10rem;
        height: 3rem;
        font-size: 1rem;
    }

    .buttons-container button{
        margin: 1rem;
    }

    .follow-side-bar{
        display: none;
    }
}

@media only screen and (max-width: 992px){
    .projects-container{
        margin-bottom: 1rem;
        margin-bottom: 2rem;
    }
    
    .card-item{
        margin-bottom: 2rem;
    }

    .modal-content{
        width: 60%;
        height: 40rem;
    }

    .modal img{
        width: 100%;
        height: 28rem;
    }

    .modal #calculator img, 
    .modal #weather-app img,
    .modal #booklist img
    {
        width: 60%;
        margin: auto;
    }

    .see-project-button, .close-modal-button{
        width: 10rem;
        height: 3rem;
        font-size: 1rem;
    }

    .buttons-container button{
        margin: 1rem;
    }

    .follow-side-bar{
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .follow-side-bar{
        display: none;
    }

    .modal #calculator img
    {
        width: 60%;
        margin: auto;
    }

    .modal #weather-app img,
    .modal #booklist img
    {
        width: 70%;
        margin: auto;
    }
}



