/*style for main containers*/
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

html{
    font-size: 62.5%;
}

body{
    font-family: 'Muli';
    background-color: #F9F9F9;
}

.CONTAINER{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*style for navbar*/
.navbar{
    background-color: rgba(126, 128, 130, 0.8)!important;
    border-bottom: 2px solid rgba(80, 112, 92, 0.4);
}

.nav-item{
    padding: 0rem 2rem;
}

.nav-link{
    padding: 10px;
    font-size: 1.5rem;
    color: turquoise!important;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: turquoise;
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
    transition: width .3s;
}

a:hover{
    transform: scale(1.3);
}

.fa-signature{
    font-size: 2rem;
    color: turquoise;
}

/*main content*/
.presentation{
    width: 100%;
}

.about-me{
    margin: 2rem 20rem;
    padding-bottom: 1rem;
}

.my-datas h2{
    margin: 1.5rem 0rem;
}

.my-datas p{
    text-align: justify;
}

.my-datas{
    font-size: 1.6rem;
    -webkit-animation-name: slide-in-left;
    animation-name: slide-in-left;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slide-in-left{
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes slide-in-left{
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.message{
    width: 15rem;
    margin: 0.5rem 0rem;
    font-size: 2rem;
    background-color: #7E8082;
    color: turquoise;
    text-align: center;
    padding: 1rem;
    border-top-right-radius: 2.5rem;
}

.front-end-subjects{
    width: 60%;
}

.front-end-item{
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.front-end-item:hover{
    transform: scale(1.2);
    filter: brightness(1);
}

.front-end-item p{
    font-size: 2rem;
}

.fa-html5{
    color: blue;
}

.fa-css3-alt{
    color: tomato;
}

.fa-js-square{
    color: yellow;
}

.fa-react{
    color: turquoise;
}

.fab{
    filter: grayscale(0.3);
}

.message-for-contacts{
    width: 20rem;
}

.contact{
    height: 5rem;
}

.contact span a{
    font-size: 2rem;
    color: tomato;
    text-decoration: none;
    animation-name: changeColor;
    animation-duration: 2s;
}

.contact span a:visited{
    color: tomato;
}

.contact span a:hover{
    color: turquoise;
    transform: scale(1.3);
}

.contact span a{
    transition: color 2s;
}

.message-about-me{
    width: 25rem;
}

.border-shadow{
    width: 97%;
    height: 2px;
    margin-top: 1rem;
    background-color: turquoise;
    box-shadow: 0.5px 0.5px 2px 2px tomato;
}

.upper-border-shadow{
    margin-bottom: 3rem;
}

.photo{
    -webkit-animation-name: slide-in-right;
    animation-name: slide-in-right;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slide-in-right{
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes slide-in-right{
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.photo img{
    width: 350px;
    height: 350px;
    margin-bottom: 1rem;
    box-shadow: 1px 1px 5px 5px tomato;
    border: 3px solid #BDC9D6;
    border-radius: 50%;
    transition: 3s;
}

.photo img:hover{
    transform: scale(1.05);
}

/*interests*/
.interest{
    text-align: center;
    font-size: 5rem;
    color: turquoise;
}

/*panels*/
.panels-interest{
    width: 75%;
    min-height: 75vh;
    margin: 5rem;
    box-shadow: 5px 5px 10px 10px #E9E7E6;;
    filter: grayscale(50%);
    overflow: hidden; 
    display: flex;
    align-self: center;
    color: turquoise;
}

.panel1, .panel2, .panel3, .panel4, .panel5{
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.panel1{
    background-image: url("/imagini/web-dev-first-page.jpg");
}

.panel2{
    background-image: url("/imagini/web-design-first-page.jpg");
}

.panel3{
    background-image: url("/imagini/mechanical-design-first-page.jpg");
}

.panel1, .panel2, .panel3, .panel4, .panel5{
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.panel{
    font-size: 2rem;
    font-weight: bolder;
    box-shadow: inset 0 0 15px rgba(222, 125, 25, 0.8); 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    transition: font-size 0.7s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    transition: flex 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.panel p{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    transition: transform 0.5s; 
    color: tomato;
}

.panel p:first-child{ 
    transform: translateY(-100%);
    color: turquoise;
}

.panel.open-active p:first-child{
    transform: translateY(0);
}

.panel p:last-child{
    transform: translateY(100%);
    color: turquoise;
}

.panel.open-active p:last-child{
    transform: translateY(0);
}

.panel.open{
    flex-grow: 5;
    font-size: 5rem;
}

/*contacts, side bar*/
.follow-side-bar{
    width: 40rem;
    height: 5rem;
    position: fixed;
    top: 30rem;
    left: -17.5rem;
    font-size: 2rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:  #7E8082;
    transform: rotate(90deg);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.follow-side-bar span a{
    padding: 0;
    color: turquoise;
    text-decoration: none;
}

.follow-side-bar span a{
    padding: 2rem;
}

.follow-side-bar span a:hover{
    padding: 1.25rem;
    background-color:blanchedalmond;
}

/*generic button and go to top button*/
.generic-button{
    width: 15rem;
    height: 4rem;
    margin: 1rem 0rem;
    font-size: 2rem;
    background-color:  #7E8082;
    color: turquoise;
    border: none;
    border-radius: 2px;
}

.generic-button:hover{
    box-shadow: 1px 1px 2px 2px turquoise;
}

.go-to-top-button{
    align-self: center;
    margin-bottom: 5rem;
}

/*footer*/
.footer-items{
    height: auto;
    margin: 0rem;
    background-color: rgba(126, 128, 130, 0.8)!important;
    border-top: 2px solid rgba(80, 112, 92, 0.4)
}

.footer-items a{
    font-size: 2rem;
    padding: 1rem 4rem;
    color: turquoise;
}

.footer-items a:visited{
    color: turquoise;
}

/*media queries*/
@media only screen and (max-width: 1200px){
    .front-end-subjects{
        width: 80%;
    }

    .front-end-item{
        font-size: 2rem;
    }

    .front-end-item p{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 992px){
    .about-me{
        margin: 2rem 6rem;
        padding-bottom: 1rem;
        text-align: center!important;
    }

    .my-datas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .my-datas p{
        text-align: justify;
    }
    
    .contact{
        width: 100%;
    }

    .photo img{
        width: 250px;
        height: 250px;
    }
}

@media only screen and (max-width: 768px) {
    .nav-link:hover::after {
        width: 10%;
        transition: width .3s;
        margin: auto;
    }

    .about-me{
        margin: 2rem 4.5rem;
        padding-bottom: 1rem;
        text-align: center!important;
    }
    
    .about-me .photo{
        text-align: center!important;
    }

    .my-datas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .my-datas .contact{
        margin-bottom: 2rem;
    }

    .my-datas p{
        text-align: justify;
        margin-bottom: 2rem;
    }

    .photo img{
        width: 200px;
        height: 200px;
    }

    .front-end-subjects{
        width: 80%;
    }

    .contact{
        width: 90%;
    }

    .interest{
        font-size: 2rem;
    }

    .panels-interest{
        min-height: 35vh;
        display: flex;
        flex-direction: column;
    }

    .panel p{
        font-size: 1.5rem;
    }

    .panel p:first-child{ 
        transform: translateX(-100%);
        color: turquoise;
    }
    
    .panel.open-active p:first-child{
        transform: translateX(0);
    }
    .panel p:last-child{
        transform: translateX(100%);
        color: turquoise;
    }
    
    .panel.open-active p:last-child{
        transform: translateX(0);
    }

    .border-shadow{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .nav-link:hover::after {
        width: 15%;
        transition: width .3s;
        margin: auto;
    }

    .contact{
        width: 90%;
    }
}

